@import 'tailwindcss';

@custom-variant dark (&:where(.dark, .dark *));

@plugin "@iconify/tailwind4";

@theme {
  --color-biscay: #1e3a76;
  --color-kashmir-blue: #506f9b;
  --color-bali-hai: #7d9cb5;
  --color-pigeon-post: #a5c1d5;
  --color-botticelli : #d8e6ee;
}

@font-face {
  font-family: Quicksand;
  src: url('/fonts/Quicksand-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

html {
    font-family: Quicksand, sans-serif;
    @apply
    text-slate-200
    from-slate-800 
    via-cyan-950
    to-gray-800 
    bg-gradient-to-r
}

.section {
  @apply
  flex flex-col gap-6 bg-black/10 p-6 overflow-hidden rounded-sm
}

.section-header {
  @apply
  bg-black/5 backdrop-blur-2xl -m-6 mb-0 p-4 pr-5 text-3xl shadow-xl shadow-gray-500/5 w-fit rounded-br-3xl relative
}

.section-header::before {
  @apply
  absolute top-0 bg-black/5 left-0 h-full w-200 p-2 content-[""]
}

a {
  @apply
  hover:underline underline-offset-6
}

[class^="icon"] {
  @apply
  my-auto
}